body{
    width: 100%;
}
.container-article {
    display: flex;
}
/* 让flex元素居中*/
.container-article:before,
.container-article:after {
    content: '';
    margin: auto;
}

.content-wrap {
    background-color: #ffffff;
    flex: 5;
    margin: 0 0 0 20px;
    max-width: 900px;
}

#article-header {
    margin-bottom: 20px;
    padding: 25px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
}

h1#title {
    font-size: 26px;
    line-height: 36px;
}

#meta {
    font-size: 12px;
    color: #999;
}

#meta span {
    margin: 0 15px;
    display: inline-block;
}

#type a {
    color: #999;
    padding: 0;
}

#type a:hover {
    color: #42b983;
}

#content {
    padding: 0 10px;
    text-align: left;
}

#content h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0 10px 0;
    text-align: center;
}

#content h3 {
    font-size: 20px;
    margin: 20px 0 10px 0;
}

#content p {
    margin: 0 0 20px 0;
    word-wrap: break-word;
    text-indent: 25px;
}

#content p.file_name {
    font-size: 15px;
    color: #CD6600;
    margin: 0;
}

#content a {
    color: #999999;
    text-decoration-line: none;
    word-break: break-all;
}

#content a:hover {
    color: #42b983;
}

#content img {
    margin: 0 auto;
    display: block;
    background-color: #fafafa;
    box-shadow: 5px 5px 20px 2px #555555;
}

#content pre {
    width: 100%;
    padding: 10px;
    overflow: overlay;
    background-color: #1d1d1d;
    color: #d3d3d3;
    font-size: 15px;
    border-radius: 5px;
    font-family: Microsfot JhengHei UI;
}

.content-footer {
    color: #333333;
    font-size: 14px;
    width: 90%;
    margin: 10px auto;
    background-color: #eee;
    border: solid 0.5px #ddd;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
}

.content-right {
    flex: 2;
    margin: 0 20px;
    min-width: 250px;
    max-width: 250px;
}

.footer {
    margin-top: 10px;
}

@media screen and (max-width: 1280px){
    .content-right {
        display: none;
        pointer-events: none;
        position: fixed;
        width: 250px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(255,255,255,.9);
        z-index: -1;
        margin: 0;
        box-shadow: -5px 0px 9px 0px #eeeeee;
    }
}

@media screen and (max-width: 680px) {
    .container-article {
        display: block;
    }
    .container-article .content-wrap{
        margin: 0;
        padding: 0 10px;
    }
    #meta span {
        display: block;
    }
}