@media screen and (max-width: 680px) {
    .nav-box{
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 15px 0 !important;
        margin-bottom: 0;
        z-index: 9999;
        height: 32px;
    }
    img.logo {
        float: none;
        margin-left: 0;
        margin-top: 0;
    }
    .container {
        margin: 0;
    }
    .article_li {
        min-height: 130px;
        padding: 15px 150px 15px 5px;
    }
    .article_thumbnail {
        height: 85px;
        width: 130px;
        right: 5px;
        left: auto;
    }
    .article_thumbnail img {
        width: 130px;
        height: 85px;
    }
    .article_type span {
        width: 40px;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }
    .article_type span:before {
        border-top: 10px solid transparent;
        border-right: 10px solid #ffffff;
        border-bottom: 10px solid transparent;
    }
    .article_title {
        font-size: 15px;
        line-height: 20px;
    }
    .mate span {
        white-space: nowrap;
    }
    .mate span:last-child {
        display: block;
        float: none;
        text-align: right;
    }
    .description {
        display: none;
    }
}


@media screen and (min-width: 681px) and (max-width: 1280px) {
    .container {
        margin: 0 20px;
    }
}

@media screen and (max-width: 1020px) {
    .content-wrap {
        margin-right: 0;
    }
    .dateshow {
        display: none;
    }
}
@media screen and (max-width: 1280px) {
    .content-right {
        display: none;
        pointer-events: none;
        position: fixed;
        width: 250px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, .9);
        z-index: -1;
        margin: 0;
        box-shadow: -5px 0px 9px 0px #eeeeee;
    }
}

@media screen and (max-width: 940px) {
    .container-article {
        display: block;
    }
    .container-article .content-wrap {
        margin: 0;
        padding: 0 10px;
    }
    #meta span {
        display: block;
    }
}